body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

input {
  font-family: Regular;
}

@font-face {
  font-family: Bold;
  src: url('./assets/fonts/Lato-Black.ttf');
  font-style: normal;
}

@font-face {
  font-family: Regular;
  src: url('./assets/fonts/Lato-Regular.ttf');
  font-style: normal;
}